footer {
    color: #fff;
    display: flex;
    padding: 20px;
    background-color: #111;
}
.footer2{
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  margin-bottom: 8%;
}

.footer-part1 {
flex: 1;
text-align: center;
padding: 10px;
}
#about-us-btn{
 cursor: pointer;
 text-decoration: underline;
 border: none;
 background-color: #111;
 color: aliceblue;
}
.about-us-breif{
  align-items:center ;
  font-size: 100%;
  display: inline-block;
  display: flex;
}

#about-us-btn:hover{
  text-decoration: none;
}
.contact{
  padding: 10px;
}
.contact a{
  padding-left: 10px;
}
#madeby{
  font-size: 150%;
  text-align: center;
}



/* For smaller screens (e.g., mobile) */
@media(max-width: 768px){
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    overflow: hidden;
  }
}

