.aboutus{
    background-color: #181818;
    color:whitesmoke;
    position: relative;
    top: 100px;
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Archivo Black';
}
#aboutus-page{
  padding-top: 10%;
    background-color: #181818;
}
h2{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
  
}
.breif{
    font-size: 1.5rem;
    text-align: center;
    padding: 5%;
}
.col{
    display: flex;
    justify-content: space-evenly;
    
}
.coldata{
   flex: auto;
   padding-left: 10%;
}
.circle{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 77.5px;
    border: 5px solid rgb(32, 165, 125);
    overflow: hidden;
    object-fit: contain;
}
.images{  
    width: 100%;
    height: auto;
    object-fit: cover;

}
.name{
    padding-left: 9%;
}

.section4,.section3{
    padding-bottom: 10%;
}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-btn{
    width: 200px;
    height: 50px;
    background-color:transparent;
    border-radius: 25px;
    color: whitesmoke;
    font-weight: bold;
    border: 2px solid rgb(29, 204, 224);
}
.signup-btn:hover{
    font-weight: bold;
    color: #181818;
    background-color: rgb(29, 204, 224);
}
.section1.section2.section3.section4{
    margin-top: 20px;
}
.section3 h2{
    margin:50px 0;
}
@media(max-width: 600px) {
    .section3{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        
    }
   
}