*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .chatpage{
    background-color: #181818;
    height: 100vh;
    width: 100%;
    display: flex;
  }
  .sidebar{
    height: 100%;
    width: 25%;
    border-right: 3px solid black;
   z-index: 2;
  }
  .chat-main{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 75%;
   box-sizing: border-box;
   flex: 1;
   display: flex;
   flex-direction: column-reverse; /* Reverse the order of messages */
  
  }
  #msgform{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    position:absolute ;
    width: 75%;
    height: 10%;
    color: #cfcfcf;
    background-color:#181818;

  }
  .send-message img{
   transform: scale(0.8);
   
  }
  .input-message{ 
    float: left;
    width: 60vw;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    padding-left: 10px;
    border-style: none;
    background-color: #313131;
    color: white;
    
  }
  .send-message{
    float: right;
    height: 40px;
    width: 90px;
    background: linear-gradient(141.27deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #79e2ff 83.46%);
    border: none;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;    
  }
  #chats{
    padding: 2%;
  
  }

#chatContainer {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

/* Define the style for the scrollbar track */
#chatContainer::-webkit-scrollbar {
  width: 8px;
}

/* Define the style for the scrollbar thumb */
#chatContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(141.27deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #79e2ff 83.46%);
  border-radius: 20px;
  height: 1vh;
}

#chatContainer::-webkit-scrollbar-track {
  background-color: #313131;

}

 
  .receive{
      float: left;
    }
    .send{
      float: right;
    }
    .message{
      margin-bottom:20px ;
      display: flex;
      flex-direction: column;
      width: 70%;
      height: fit-content;
      background: linear-gradient(140deg, #010101, #141414);
      box-shadow: #000 2px 2px 2px, inset #3a3a3a 2px 2px 2px;
      color: white;
      border-radius: 10px;
      padding-left: 10px;
    }
    #message-first{
      display: inline;
      display: flex;
      align-items: first baseline;
      position:relative;
      bottom: 25%;
      height: 25px;
      justify-content: flex-start;
      font-size: 1em;
    }
    .username{
     background: linear-gradient(92.7deg, #56d364 -1.37%, #79c0ff 78.71%); 
     color: transparent;
     background-clip:text ;
     -webkit-background-clip: text;
     font-weight: lighter;
     padding: 2px 0 0 4px;
    }
    .username .country{
      font-size: 2em;
      display: inline-block; 
      padding: 0.2em 0 0 0.4em; 
    }
    .country{
      padding-left: 10px;
      color: #6a6a6a;
    }
    .text{
     display:inline-block;
     position: relative;
     bottom: 75%;
     word-break: break-word;
     padding: 0.1em 0 0.2em 0.5em;
    }
    .time{
    position: relative;
    bottom: 110%;
    text-align: right;
    font-size: 0.8em;
    color: #6a6a6a ;
    font-style: italic;
    box-sizing: border-box;
    padding: 0 0.4em 0.2em 0;
    }
@media only screen and  (max-width:600px) {
.sidebar{
    display: none;
  }
.chat-main{
  width: 100%;
 }
#msgform{
   width: 100%;
 } 
 .username .country{
  font-size: 0.5em;
 }
}
    
    
    