
#Home {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    color: white;
    position: relative;
    top: 100px;
  }
  
  #first-section {

    display: flex;
    align-items: center;
    justify-self:center ;
    text-decoration: none;

  }
  #welcomemsg{
    flex-basis: 50%;
    min-width: 300px;
  }
  #welcomemsg h1{
    font-size: 50px;
    line-height: 60px;
   
  }
  #welcomemsg h4{
    position: relative;
    top: 10%;
    left: 25%;
  }
  #block-firstpage-Image{
    display: flex;
    justify-content: center;
    width: 500%;
    max-width: 50%; /* Ensure it doesn't exceed 50% of the parent width */
  }
  #firstpage-Image{
    filter:drop-shadow(40px 80px 10px #777);
    transform: scale(0.65);
    position: relative;
    animation: image-left-right 1.5s 1;
  }
  @keyframes image-left-right{
    from{right:20%;}
    to{right: 0%;}
  }
.login{
    background:transparent;
    color: white;
    border: 2px solid rgb(29, 224, 201);
    width: 200px;
    height: 50px; 
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
  }
.login:hover{
  background: rgb(29, 224, 201);
  color: #181818;
  font-weight: bold;
}
#welcomemsg .login{
  position: relative;
  top: 60px;
  left: 30%;
}
  #second-section{
    padding: 10px;
    align-items: center;
    background-color:#313131;
    text-decoration: none;
  }
  .all-icons{
    display: flex;
    padding: 3%;
  }
  .icon{
    padding: 3%;
  }
  h2{
    font-size: 40px;
  }
  .icon-name{
   font-family: 'Lora', Serif;
    font-size:25px;
    display: inline-block;
  }
  .icon-breif{
    font-size:15px;
    display: inline-block;
  }
  .icons{
    display: inline-block;
    align-items: center;
    font-size: 100px;
  }                    
  #third-section{
    padding: 10px;
   
    height: 300px;
    justify-content: space-evenly;

  }
  .section3-div1{
    position: relative;
    left: 10%;
    width: 80%;
  }
  .section3-div2{
    position: relative;
    top: 20%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 5px;
  }
  .section3-buttons{
    display: inline-block;
  }
  .section3-p{
    font-size: 130%;
    font-family:Arial, Helvetica, sans-serif
  }
 
  .signup{
    color: #fff;
    background-color: #f9313187;
    cursor: pointer;
  }

  /* For smaller screens (e.g., mobile) */
  @media(max-width: 768px){
    body {
      margin: 0;
      padding: 0; 
    }
    #first-section,footer,.section3-div2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px; 
      overflow: hidden;
    }
    
    #block-firstpage-Image {
     width: 100%; /* Take up full width on smaller screens */
      max-width: 100%;
      margin-top: 0px; 
     
    }
    .all-icons {
      flex-direction: column; /* Stack icons and text vertically */
      align-items: center; /* Center icons and text horizontally */
    }
  
    .icon {
      margin-bottom: 20px; /* Add space between icons */
    }
  
  
  }
  
  