body {
    font-family: sans-serif;
  }
  .login-container {
    position: relative;
    background-color: #181818;
    color: whitesmoke;
    position: relative;
    top: 100px;
  }
 
  
  #login{
    position: relative;
    height: 70vh;
    width: 100%;
  }
  #title, #signupTitle {
    padding-left: 0%;
  }
  
  form {
    width: 50vw;
    margin: 0 auto;
  }
  #signupForm input, #loginForm input{
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  #loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(12, 221, 236);
    width: 35vw;
    height: 40vh;
    margin-top: 30px;
    border-radius: 50px;
  }
  #signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(12, 221, 236);
    width: 35vw;
    height:70vh ;
    border-radius: 50px;
    margin-top: 30px;
   
  }
  
 .login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
#loginForm button,#signupForm button{
    position: relative;
    top: 20px;
    width: 75%;
    background-color: #2196F3;
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .sign-footer, .login-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  #loginLink{
    font-weight: 700;
    cursor: pointer;
    color: cornflowerblue;
  }
  #signupLink{
    font-weight: 700;
    cursor: pointer;
    color: #2196F3;
  }
  